@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap");
.sticky {
  display: flex;
  width: 100%;
  background-color: #C3DFC3;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  width: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  font-family: "Comfortaa", cursive;
  transition: 0.5s;
  color: #014C00;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.nav li {
  padding: 10px;
  color: #014C00;
  background-color: rgba(255, 255, 255, 0.5);
}
.nav li a {
  text-decoration: none;
  color: #014C00;
}
.nav li a:hover {
  border-bottom: 2px solid #014C00;
  cursor: pointer;
}
.nav__close {
  position: absolute;
  top: 0;
}

button {
  border: none;
  margin: 10px 0 10px 10px;
  padding-bottom: 10px;
  font-size: 2em;
  background-color: transparent;
  color: #014C00;
}
button:hover {
  cursor: pointer;
  opacity: 0.6;
}