@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');

$heading: 'Comfortaa', cursive;
$para: 'Roboto', sans-serif;
$heading-color: #014C00;
$para-color: darkslategray;
$background: rgba(255, 255, 255, 0.5);
$text-bg: rgba(255, 255, 255, 0.6);
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);