@import "./variables";

.sticky {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  
  
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  min-width: 110px;
  position: fixed;  
	top: 0;
  z-index: 1;  
  right: 0;  
  padding-top: 30px;
  font-family: $heading;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.7s ease-in-out;
  color: $background;  
  list-style-type: none; 
  background-color: $heading-color; 

      

      .nav__close {
        background-color: transparent;
        color: $background;
      }
  
  
      button:hover {
        cursor: pointer;
        opacity: 0.6;
       
      }

      li {
        padding: 15px 0 0 5px;
        color: $background;
        background-color: $heading-color; 
        
        a {
          text-decoration: none;
          color: $background;
        }
        
        a:hover {
          border-bottom: 2px solid $background;               
          cursor: pointer;
        }
              
      }

      
    &__close {
      position: absolute;
      top: 0;    
      } 
      
        
  }
    
button {
  border: none;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  font-size: 2em;
  background-color: transparent;
  color: $heading-color;
  

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
}

.showMenu {
  transform: translate3d(0vw, 0, 0);
  transition: transform 0.7s ease-in-out;
  
}
