@import "./variables";

.sticky {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #C3DFC3;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: $shadow;
 
  
  
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  width: 0;
  position: fixed;  
	top: 0;
  z-index: 1;  
  right: 0;
  overflow-x: hidden;
  padding-top: 30px;
  font-family: $heading;
  transition: 0.7s ease-in-out;
  color: $heading-color;  
  list-style-type: none; 
  background-color: $background; 
  box-shadow: $shadow;
  
      button:hover {
        cursor: pointer;
        opacity: 0.6;
       
      }

      li {
        padding: 10px;
        color: $heading-color;
        background-color: $background; 
        
        a {
          text-decoration: none;
          color: $heading-color;
        }
        
        a:hover {
          border-bottom: 2px solid $heading-color;               
          cursor: pointer;
        }
              
      }

      
    &__close {
      position: absolute;
      top: 0;    
      }     
        
  }
    
button {
  border: none;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  font-size: 2em;
  background-color: transparent;
  color: $heading-color;
  

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }


}

