@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap");
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects h3 {
  align-self: flex-start;
  font-family: "Comfortaa", cursive;
  color: #014C00;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}
.projects .projects__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 0;
}
.projects .projects__info .projects__info__container {
  width: 300px;
  height: 300px;
  background-color: transparent;
  margin: 0 10px 10px 10px;
  overflow: hidden;
}
.projects .projects__info .projects__info__container .projects__info__container__card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease-out;
  transform-style: preserve-3d;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-front h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 15%;
  font-family: "Comfortaa", cursive;
  color: #014C00;
  text-align: center;
  text-shadow: 2px 2px 8px #7FB13B;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-front img {
  border-radius: 5px;
  max-width: 90%;
  height: 85%;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(13, 130, 101, 0.3);
  transform: rotateY(180deg);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-back p {
  font-family: "Roboto", sans-serif;
  color: darkslategray;
  text-align: justify;
  margin: 0 5px;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-back a:link {
  text-decoration: none;
  color: #014C00;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  margin: 0 5px;
  text-shadow: 2px 2px 8px #7FB13B;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-back a:visited {
  color: #014C00;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-back a:hover {
  opacity: 0.5;
}
.projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-front, .projects .projects__info .projects__info__container .projects__info__container__card .projects__info__container__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.projects__info__container:hover .projects__info__container__card {
  transform: rotateY(180deg);
}