@import "./variables";


.projects {
  width: 95%;
  display: flex;
  flex-direction: column;

  h3 {
    align-self: flex-start;
    font-family: $heading;
    color: $heading-color;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
    margin-top: 20px;
    
  }


  &__container {
     width: 100%;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;


     .projects__info {
       width: 500px;
       height: auto;
       display: flex;
       flex-direction: column;
       align-items: center;    
       background-color: $heading-color;
       border-radius: 5px;
       margin: 30px;
       
       

        h4 {
          font-family: $para;
          color: $background;
          margin: 10px 0;
        }


        &__card {
          width: 350px;
          height: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          img {
            max-width: 200px;
            height: auto;
            border-radius: 5px;
          }

          p {
            width: 300px;
            font-family: $para;
            color: $background;
            text-align: justify;
            margin: 10px 0;
          }

          &__links {
            width: 90%;
            display: flex;
            justify-content: space-between;
            font-family: $para;
            color: $background;
            margin: 10px 0;

            a:link {
              text-decoration: none;
              color: $background;
              font-weight: bold;
              
            }

            a:visited {
              font-weight: normal;
              color: $background;
            }

            a:hover {
              opacity: 0.6;
            }
          }


          &__stack {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            background-color: $background;
            margin: 10px 0;
            border-radius: 5px;

            p {
              
              color: $para-color;
              text-align: center;
              font-size: 0.8em;
            }

          }
        }
     }   
  }
}

@media screen and(max-width: 510px) {
  .projects__info {
    min-width: 350px;
  }
  
}

