@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$heading: 'Poppins', sans-serif;
$para: 'Poppins', sans-serif;
$heading-color: #fffbff;
$para-color: #fffbff;
$background: #274584;
$text-bg: rgba(255, 255, 255, 0.6);
$shadow: 0 4px 8px 0 rgba(136, 150, 150, 0.3), 0 6px 20px 0 rgba(136, 150, 150, 0.3);


