@import "./variables";
@import "./nav";
@import "./title";
@import "./aboutme";
@import "./projects";
@import "./contacts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Images/pexels-stanislav-kondratiev-2908965.jpg") ;
 
  

  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  a {
    font-family: $para;
    color: $background;
    font-size: 0.8em;
  }

  a:hover {
    opacity: 0.6;
  }

}

