@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.sticky {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  min-width: 110px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.7s ease-in-out;
  color: #274584;
  list-style-type: none;
  background-color: #fffbff;
}
.nav .nav__close {
  background-color: transparent;
  color: #274584;
}
.nav button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.nav li {
  padding: 15px 0 0 5px;
  color: #274584;
  background-color: #fffbff;
}
.nav li a {
  text-decoration: none;
  color: #274584;
}
.nav li a:hover {
  border-bottom: 2px solid #274584;
  cursor: pointer;
}
.nav__close {
  position: absolute;
  top: 0;
}

button {
  border: none;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
  font-size: 2em;
  background-color: transparent;
  color: #fffbff;
}
button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.showMenu {
  transform: translate3d(0vw, 0, 0);
  transition: transform 0.7s ease-in-out;
}

.title {
  width: 100%;
  height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  background-color: #274584;
}
.title__heading {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title__heading img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fffbff;
  filter: grayscale(0.8) brightness(1.5);
}
.title__heading h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fffbff;
  font-size: 36px;
  padding: 10px;
  text-align: center;
}
.title__heading__text {
  display: flex;
  flex-direction: column;
}
.title__heading__text p {
  font-family: "Poppins", sans-serif;
  color: #fffbff;
  font-weight: bold;
  text-align: justify;
  padding: 20px 0 0 0;
  font-size: 1.3em;
}
.title__heading__text p:first-child {
  text-align: center;
}
@keyframes arrow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.title__CTA {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.title__CTA p {
  font-family: "Poppins", sans-serif;
  color: #fffbff;
  font-weight: bold;
  margin-bottom: 20px;
}
.title__CTA i {
  font-size: 1.5em;
  color: #fffbff;
  animation-name: arrow;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}
.title__CTA i:hover {
  opacity: 0.6;
}

.about-me {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  background-color: #274584;
}
.about-me h3 {
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  color: #fffbff;
  font-weight: bold;
  font-size: 32px;
  padding: 10px;
  margin-top: 20px;
}
.about-me__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-me__info img {
  min-width: 200px;
  height: auto;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}
.about-me__info__text {
  min-width: 300px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-me__info__text p {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  color: #fffbff;
  margin: 5px;
  background-color: #274584;
  padding: 5px;
}
.about-me__info__text__icons {
  min-width: 300px;
  max-width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 10px 0;
  font-size: 4em;
  color: #fffbff;
}
.about-me__info__text__icons p {
  grid-column: 1/4;
  font-family: "Poppins", sans-serif;
  font-size: 0.3em;
  padding-bottom: 5px;
}

.projects {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.projects h3 {
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  color: #fffbff;
  font-weight: bold;
  font-size: 32px;
  padding: 10px;
  margin-top: 20px;
}
.projects__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects__container .projects__info {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffbff;
  border-radius: 5px;
  margin: 30px;
}
.projects__container .projects__info h4 {
  font-family: "Poppins", sans-serif;
  color: #274584;
  margin: 10px 0;
}
.projects__container .projects__info__card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.projects__container .projects__info__card img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}
.projects__container .projects__info__card p {
  width: 300px;
  font-family: "Poppins", sans-serif;
  color: #274584;
  text-align: justify;
  margin: 10px 0;
}
.projects__container .projects__info__card__links {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #274584;
  margin: 10px 0;
}
.projects__container .projects__info__card__links a:link {
  text-decoration: none;
  color: #274584;
  font-weight: bold;
}
.projects__container .projects__info__card__links a:visited {
  font-weight: normal;
  color: #274584;
}
.projects__container .projects__info__card__links a:hover {
  opacity: 0.6;
}
.projects__container .projects__info__card__stack {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  background-color: #274584;
  margin: 10px 0;
  border-radius: 5px;
}
.projects__container .projects__info__card__stack p {
  color: #fffbff;
  text-align: center;
  font-size: 0.8em;
}

@media screen and (max-width: 510px) {
  .projects__info {
    min-width: 350px;
  }
}
.contact {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  background-color: #274584;
}
.contact h3 {
  font-family: "Poppins", sans-serif;
  color: #fffbff;
  align-self: flex-start;
  font-size: 32px;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}
.contact__methods {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.contact__methods p {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  color: #fffbff;
}
.contact__methods a {
  justify-self: flex-end;
  text-decoration: none;
  color: #fffbff;
  font-size: 1em;
  padding: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #274584;
}